.displayFormSurveyWraper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.question {
  border: 1px solid black;
  margin: 10px;
  padding: 15px 130px;
}
input {
  margin: 10px;
}
