.openQuestionAndAnswerWarper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.questionWarper {
  font-size: 2rem;
}
.linearQuestionAndAnswerWarper {
}

@media screen and (min-width: 600px) {
  canvas {
    height: 50vh !important;
    width: 50vw !important;
    transform: translate(49%, 0);
  }
}
