.radio-question-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.radio-question-form {
  width: 40vw;
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
}
.radio-question-option {
  display: flex;
  justify-content: start;
  align-items: center;
}
